* {
  margin: 0px;
  color: #fff;
  font-family: Poppins;
  text-align: center;
  text-decoration: none;
}

body {
  background-color: #191919;
  margin-top: 100px;
  margin-bottom: 100px;
}

.detalhe-laranja {
  color: #f15025;
}

main {
  margin: auto;
  display: grid;
  gap: 25px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "grid-foto"
    "grid-nome"
    "grid-midias"
    "grid-botoes"
    "grid-rodape";
}

.foto-conteiner {
  width: 250px;
  grid-area: grid-foto;
}

.foto-vinicius {
  max-width: 100%;
  border: 5px solid gray;
  border-radius: 500px;
}

.titulo {
  grid-area: grid-nome;
}

.midias-conteiner {
  display: flex;
  gap: 10px;
  grid-area: grid-midias;
}

.foto-midias {
  width: 40px;
}

.botoes-conteiner {
  display: grid;
  gap: 20px;
  grid-area: grid-botoes;
}

.botoes {
  width: 400px;
  height: 60px;
  background-color: #475a5c;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botoes:active,
.botoes:hover,
.botoes:visited {
  width: 400px;
  height: 60px;
  background-color: #354445;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rodape-conteiner {
  display: grid;
  gap: 10px;
  grid-area: grid-rodape;
}

.texto-pequeno {
  font-size: 0.8rem;
  color: #475a5c;
}
